<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="filcis_db" connectionString="server=192.10.10.100;uid=Myssqql;pwd=@@5ux4bvmd@Pl6banmo;database=filcis_db;port=5508;allowuservariables=True;convertzerodatetime=True;SslMode=none"
   providerName="MySql.Data.MySqlClient" />
  <add name="PrjRegistrar.Properties.Settings.filcis_dbConnectionString"
   connectionString="server=192.10.10.100;user id = root; database=filcis_db;allowuservariables=True;convertzerodatetime=True" />
  <add name="PrjRegistrar.Properties.Settings.filcis_dbConnectionString1"
   connectionString="Dsn=FILCIS_DB;uid=Myssqql;description=production server;server=192.10.10.100;database=filcis_db;port=3306"
   providerName="System.Data.Odbc" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>


